VIVOConsultaClienteInbound.WSDL

<?xml version="1.0" encoding="UTF-8"?><definitions
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:xsdLocal1="http://www.siebel.com/xml/VIVOConsultaDadosClienteIn"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsdLocal2="http://www.siebel.com/xml/VIVOConsultaClienteOO"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:tns="http://siebel.com/CustomUI"
><types
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="http://www.siebel.com/xml/VIVOConsultaClienteOO"
 xmlns:xsdLocal2="http://www.siebel.com/xml/VIVOConsultaClienteOO"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element
 name="ListOfVIVOConsultaClienteOO"
 type="xsdLocal2:ListOfVIVOConsultaClienteOO"
></xsd:element
><xsd:complexType
 name="ListOfVIVOConsultaClienteOOTopElmt"
><xsd:sequence
><xsd:element
 name="ListOfVIVOConsultaClienteOO"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal2:ListOfVIVOConsultaClienteOO"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfVIVOConsultaClienteOO"
><xsd:sequence
><xsd:element
 name="cliente"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal2:cliente"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="cliente"
><xsd:sequence
><xsd:element
 name="razaoSocial"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="numeroConta"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="cnpjcpf"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="emailContato"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="telefoneContato"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="nomeContato"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="numeroTerminal"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:schema
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:import
 namespace="http://www.siebel.com/xml/VIVOConsultaClienteOO"
></xsd:import
><xsd:import
 namespace="http://www.siebel.com/xml/VIVOConsultaDadosClienteIn"
></xsd:import
><xsd:element
 name="VIVOConsultaClienteInbound_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 ref="xsdLocal1:Inputs"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="VIVOConsultaClienteInbound_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="ErrorCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorMessage"
 type="xsd:string"
></xsd:element
><xsd:element
 ref="xsdLocal2:ListOfVIVOConsultaClienteOO"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
></xsd:schema
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 xmlns:xsdLocal1="http://www.siebel.com/xml/VIVOConsultaDadosClienteIn"
 targetNamespace="http://www.siebel.com/xml/VIVOConsultaDadosClienteIn"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element
 name="Inputs"
 type="xsdLocal1:Inputs"
></xsd:element
><xsd:complexType
 name="InputsTopElmt"
><xsd:sequence
><xsd:element
 name="Inputs"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal1:Inputs"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Inputs"
><xsd:sequence
><xsd:element
 name="cnpjcpf"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="email"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="numeroConta"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="numeroLinha"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:schema
></types
><message
 name="VIVOConsultaClienteInbound_Input"
><part
 name="VIVOConsultaClienteInbound_Input"
 element="tns:VIVOConsultaClienteInbound_Input"
></part
></message
><message
 name="VIVOConsultaClienteInbound_Output"
><part
 name="VIVOConsultaClienteInbound_Output"
 element="tns:VIVOConsultaClienteInbound_Output"
></part
></message
><portType
 name="VIVO_spcConsulta_spcCliente_spcInbound"
><operation
 name="VIVOConsultaClienteInbound"
><input
 message="tns:VIVOConsultaClienteInbound_Input"
></input
><output
 message="tns:VIVOConsultaClienteInbound_Output"
></output
></operation
></portType
><binding
 name="VIVO_spcConsulta_spcCliente_spcInbound"
 type="tns:VIVO_spcConsulta_spcCliente_spcInbound"
><soap:binding
 transport="http://schemas.xmlsoap.org/soap/http"
 style="document"
></soap:binding
><operation
 name="VIVOConsultaClienteInbound"
><soap:operation
 soapAction="document/http://siebel.com/CustomUI:VIVOConsultaClienteInbound"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
></binding
><service
 name="VIVOConsultaClienteInbound"
><port
 binding="tns:VIVO_spcConsulta_spcCliente_spcInbound"
 name="VIVO_spcConsulta_spcCliente_spcInbound"
><soap:address
 location="http://&lt;webserver&gt;/eai_&lt;lang&gt;/start.swe?SWEExtSource=WebService&amp;SWEExtCmd=Execute&amp;WSSOAP=1"
></soap:address
></port
></service
></definitions
>